allow logpersist system_data_file:dir { read };
allow logpersist system_data_file:dir { open };
allow logpersist system_data_file:dir { write };
allow logpersist system_data_file:dir { add_name };
allow logpersist system_data_file:file { create };
allow logpersist system_data_file:file { append open };
allow logpersist system_data_file:file { getattr };
allow logpersist system_data_file:file { read };
allow logpersist system_data_file:file { open };
allow logpersist system_data_file:file { append };
