#============= logpersist ==============
allow logpersist system_data_file:dir { open read write };
allow logpersist system_data_file:file { append create getattr open read write };
