#============= toolbox ==============
allow toolbox block_device:blk_file { getattr };
allow toolbox block_device:blk_file { open read };
allow toolbox block_device:blk_file write;
